@model NHA_CUNG_CAP
<div class="container">
    <form method="post">
        <div class="Form_NCC">

            <div class="Them_form">

                <h1>Thêm nhà cung cấp</h1>
                <div class="BLCT_Lo_input">
                    <div class="lg_TK magrin_Input">
                        <div class="input-box">
                            <input required asp-for="TenNhaCungCap" type="text">
                            <label>Tên nhà cung cấp</label>
                        </div>
                        <span asp-validation-for="TenNhaCungCap" class="text-danger"></span>
                    </div>

                    <div class="dk_HT magrin_Input">
                        <div class="input-box">
                            <input required asp-for="DiaChi" type="text">
                            <label>Địa chỉ</label>
                        </div>
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                </div>

                <div class="BLCT_Lo_input">
                    <div class="dk_SDT magrin_Input">
                        <div class="input-box">
                            <input required asp-for="SoDienThoai" type=" text">
                            <label>Số điện thoại</label>
                        </div>
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                    <div class="ND_NgaySinh magrin_Input">
                        <div class="input-box">
                            <input required asp-for="MaSoThue" type="text">
                            <label>Mã số thuế</label>
                        </div>
                        <span asp-validation-for="MaSoThue" class="text-danger"></span>
                    </div>
                </div>
                <div class="BLCT_Lo_input">
                    <div class="lg_MK magrin_Input">
                        <div class="input-box">
                            <input required asp-for="SoTaiKhoan" type="text">
                            <label>Số tài khoản</label>
                        </div>
                        <span asp-validation-for="SoTaiKhoan" class="text-danger"></span>
                    </div>
                    <div class="lg_MK magrin_Input">
                        <div class="input-box">
                            <input required asp-for="NguoiDaiDien" type="text">
                            <label>Người đại diện</label>
                        </div>
                        <span asp-validation-for="NguoiDaiDien" class="text-danger"></span>
                    </div>
                </div>
                <div class="lg_DN lg_DK">
                    <button type="submit">Thêm nhà cung cấp</button>
                </div>
                @if (TempData["ThongBao"] != null)
                {
                    <p> @TempData["ThongBao"]</p>
                }
            </div>
            </div>
    </form>
</div>
