<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_520_Dynamic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_520_Dynamic.styles.css" asp-append-version="true" />
</head>
<body>
    @{
        bool hideHeader = ViewData["HideHeader"] as bool? ?? false;
    }

    @if (!hideHeader)
    {
        <header>
            <div class="lg_TuanVu lo_logo">
                <p>TUẤN VŨ</p>
            </div>
            <ul>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Tranh chủ</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Người dùng</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Sản phẩm</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Biên lai</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Nhà cung cấp</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Thống kê</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Đăng xuất</a></li>
            </ul>
        </header>


    }


            @RenderBody()



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
