@model IEnumerable<BIEN_LAI_CHI_TIET>
<div class="container">
   @* <div class="ND_TimKiem">
        @using (Html.BeginForm())
        {
            @Html.TextBox("SearchString")
            <input type="text"  placeholder="Tìm kiếm người dùng..." >
            <input type="submit" placeholder="tìm"> 
        }
        
    </div>*@
@*   @using (Html.BeginForm())
    {
        <p>

            Nhập thông tin: @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />

        </p>
    }*@
    <div class="CT_TT">
        @{
            int Nhap = 0;
            int Xuat = 0;
            if(Model != null)
            {
                 Xuat = Model.Count(i => i.BIEN_LAI.LoaiBienLai == true); // Đếm số lượng phần tử có LoaiBienLai là 1
                 Nhap = Model.Count(i => i.BIEN_LAI.LoaiBienLai == false); // Đếm số lượng phần tử có LoaiBienLai là
                Console.WriteLine(Xuat + " aaaaa" + Nhap);
            }

        }
        <div class="CT_sp">
            <div class="CT_Icon">
                <i class="fas fa-chart-pie"></i>
            </div>
            <div class="CT_Chu_So">
                <div class="CT_Chu">
                    <p>Tổng sản phẩm</p>
                </div>
                <div class="CT_So">
                    <p>123</p>
                </div>
            </div>

        </div>
        <div class="CT_sp">
            <div class="CT_Icon">
                <i class="fas fa-file"></i>
            </div>
            <div class="CT_Chu_So">
                <div class="CT_Chu">
                    <p>Tổng đơn nhập</p>
                </div>
                <div class="CT_So">
                    @if (Nhap == 0)
                    {
                        <p>0</p>
                    }
                    else
                    {
                        <p>@Nhap</p>
                    }
                </div>
            </div>
        </div>
        <div class="CT_sp">
            <div class="CT_Icon">
                <i class="fas fa-file"></i>
            </div>
            <div class="CT_Chu_So">
                <div class="CT_Chu">
                    <p>Tổng đơn xuất</p>
                </div>
                <div class="CT_So">
                    @if(Xuat == 0)
                    {
                        <p>0</p>
                    }
                    else
                    {
                        <p>@Xuat</p>
                    }
                </div>
            </div>
        </div>
    </div>



    <div class="CT_Canva">
        <canvas id="myChart_CT" width="10" height="0%"></canvas>
    </div>

    <div class="table_Home">
        <div class="table_HSanPham">
            <h2>Sản phẩm bán chạy</h2>
            <table class="table_user responsive-table ">
                <thead>
                    <tr>                      
                        <th> Tên sản phẩm</th>
                        <th> Quy cách</th>
                        <th> Số lượng</th>
                        <th> Đơn vị</th>
                        <th> Đơn giá</th>
                        <th> Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                       <td>12312312</td>
                       <td>12312312</td>
                       <td>12312312</td>
                       <td>12312312</td>
                       <td>12312312</td>
                       <td>12312312</td>
                   </tr>
                </tbody>
            </table>
        </div>          
    </div>
</div>
