
@model SAN_PHAM
<div class="container">
    <form method="post">
        <div class="ND_body">

            <div class="sanpham_form">

                <h1>Sửa Sản Phẩm</h1>
                <input type="hidden" asp-for="MaSanPham" />
                <div class="lg_TK magrin_Input">
                    <div class="input-box">
                        <input required asp-for="TenSanPham" type="text">
                        <label>Tên sản phẩm</label>
                    </div> 
                    <span asp-validation-for="TenSanPham" class="text-danger"></span>
                </div>

                <div class="dk_HT magrin_Input">
                    <div class="input-box">
                        <input required asp-for="QuyCach" type="text">
                        <label>Quy cách</label>
                    </div> 
                    <span asp-validation-for="QuyCach" class="text-danger"></span>
                </div>
                <div class="dk_SDT magrin_Input">
                    <div class="input-box">
                        <input required asp-for="DonGia" type="text">
                        <label>Đơn giá</label>
                    </div>
                    <span asp-validation-for="DonGia" class="text-danger"></span>
                </div>

                <div class="lg_DN lg_DK">
                    <button type="submit">Sửa sản phẩm</button>
                </div>
                @if (TempData["ThongBao"] != null)
                {
                    <p> @TempData["ThongBao"]</p>
                }
            </div>



        </div>

    </form>
</div>
