@model NGUOI_DUNG
 <form method="post" asp-action="DangNhap">
    <partial name="_Notification" />
   <div class="lg_container">
        <div class="lg_TuanVu">
            <p>TUẤN VŨ</p>
        </div>
        <div class="lg_body">
            <div class="lg_Hinh1">
                <img src="https://s3-alpha-sig.figma.com/img/6f61/03fc/770952e187dbd290fa7fe5615103f6e4?Expires=1702252800&Signature=UtTs0rTtfHHRkTbEUL2q78~-Md8XhicVNUFYtmySF7cuHuHZSLfGTR4C-hhkFSzZuiIZNae-bfVJhm6KUL0bmDHrMPkTUQW2ujejDO9jqO-w7CtC0UBa6F5EROculfWK3rLVIQ4q55CKImauU3z4YcXyPVKrqE7NzRbkhjuMcWJ0ZtTTVoX-qL8nGz7uC8actfvy~0QbBR2YSOLQjHxBAsZNMeQE5uEc4wJyY3ba2sSpal78f2ynt5tX3swNsqAr7fVdPtKrJ1X~Yh8moiA5XyZgOTqIdMZQ6FVo-An8Nlo0thg-UNzxJsx7Hr0Ts-1ijXW5aTAf5PiuFcudRGwhMA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
                <p>_________________________________</p>
            </div>
            <div class="lg_form">
                <div class="lg_register">
                    <div>
                        <p>Chưa có tài khoản?</p>
                        <a asp-area="" asp-controller="Home" asp-action="DangKi">Đăng kí</a>
                    </div>
                </div>
                <h1>Đăng nhập</h1>
                <div class="lg_TK">
                    <p>Nhập tên tài khoản</p>
                    <input asp-for="TenTaiKhoan" type="text" placeholder="Tên tài khoản">
                </div>
                <div class="lg_MK">
                    <p>Nhập mật khẩu</p>
                    <input asp-for="MatKhau" type="password" placeholder="Mật khẩu">
                </div>
                <div class="lg_QMK">
                    <a href="#">Quên mật khẩu</a>
                </div>
                <div class="lg_DN">
                    <button type="submit">Đăng nhập</button>
                </div>
                @if(TempData["ThongBaoDangNhap"]!= null)
                {
                    <p> @TempData["ThongBaoDangNhap"]</p>
                }
            </div>

            <div class="lg_Hinh2">
                <img src="https://s3-alpha-sig.figma.com/img/824f/7517/11a7c18d189607d5e25f5250d7724f34?Expires=1702252800&Signature=EEibfi97uVwxl3DL1Di7v1nufSe-ttrG5toj-yZ07gmRJsCF-QXkTd234HVX6b9J0ZOVkL0i~dQETldmNpzOwch9rsOh05NeB1-snGHpv-proQ6rvdoOrl2KQOfS2bnljAsAs310V5OR6W8oLlDhUr~xGjFyPRf~Z71244Cu9jg6JHKl4nhqyYV0d1fdvKdwLmk7PHNJ~fYSCiVPMkRxFXR4VbdGxPnwi-B7qlYwk92r1y23T2ztUnwnM5IEuSoutIxENNGXFA9uLhiIj9J54n1-d6izqsAvOqYwCVK4lMe5-w7hIDAkbZgNdSLMgGbNezOuPwz6ir9MlgzNk122Lg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="Scooter">
            </div>

        </div>
    </div>
</form>