
@model NGUOI_DUNG

<div class="container">
    <form method="post" asp-action="SuaNguoiDung">
        <input type="hidden" asp-for="MaNguoiDung" />
        <div class="Form_NCC">

            <div class="Them_form">

                <h1>Sửa Người dùng</h1>
                 <div class="BLCT_Lo_input">
                    <div class="lg_TK magrin_Input">
                        <div class="input-box">
                            <input required asp-for="TenTaiKhoan" type="text">
                            <label>Tên tài khoản</label>
                        </div>
                        <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
                    </div>
                    <div class="dk_HT magrin_Input">
                        <div class="input-box">
                            <input required asp-for="TenNguoiDung" type="text">
                            <label>Họ và tên</label>
                        </div>                        
                        <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
                    </div>
                </div>
                <div class="BLCT_Lo_input">
                    <div class="ND_GT magrin_Input">
                        <p> Giới tính</p>
                        <div class="ND_CheckGT">
                            <div>
                                <input asp-for="GioiTinh" type="radio" value="true" checked="checked" required /> Nam &ensp;
                            </div>
                            <div>
                                <input asp-for="GioiTinh" type="radio" value="false" required /> Nữ
                            </div>
                        </div>
                    </div>
                    <div class="dk_SDT magrin_Input">
                        <div class="input-box">
                            <input required asp-for="SoDienThoai" type="text">
                            <label>Số điện thoại</label>
                        </div> 
                        <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                    </div>
                </div>
                <div class="BLCT_Lo_input">
                    <div class="ND_NgaySinh magrin_Input">
                        <p> Ngày Sinh</p>
                        <input asp-for="NgaySinh" type="date" style="padding-left: 20%;" placeholder="Ngày sinh" /></br>
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>

                    <div class="lg_MK magrin_Input">
                        <div class="input-box">
                            <input required asp-for="MatKhau" type="password">
                            <label>Mật khẩu</label>
                        </div> 
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                </div>
                <div class="lg_DN lg_DK">
                    <button type="submit">Sửa người dùng</button>
                </div>
              
            </div>

        </div>

    </form>
</div>
