
@*@{
	ViewData["Title"] = "Error";
}*@
@model NGUOI_DUNG
<div class="container">
<form method="post">
        <div class="lg_body">
            
            <div class="lg_form">
               
                <h1>Thêm Người dùng</h1>
                <div class="lg_TK">
                    <p>Nhập tên tài khoản</p>
                    <input asp-for="TenTaiKhoan" type="text" placeholder="Tên tài khoản ">
                    <span asp-validation-for="TenTaiKhoan" class="text-danger"></span>
                </div>
                
                <div class="dk_HT">
                    <p>Nhập họ và tên</p>
                    <input asp-for="TenNguoiDung" type="text" placeholder="Họ và tên" />
                    <span asp-validation-for="TenNguoiDung" class="text-danger"></span>
                </div>
				<div >
                    <input asp-for ="GioiTinh" type="radio" value="true" checked="checked" required /> Nam &ensp;
                    <input asp-for="GioiTinh" type="radio" value="false" required /> Nữ
                </div>
                <div class="dk_SDT">
                    <p>Nhập số điện thoại</p>
                    <input asp-for="SoDienThoai" type="text" placeholder="Số điện thoại" />
                    <span asp-validation-for="SoDienThoai" class="text-danger"></span>
                </div>
                <div class="dk_SDT">
                    <p>Ngày Sinh</p>
                    <input asp-for="NgaySinh" required type="date" style="padding-left: 20%;" placeholder="Ngày sinh" />
                </div>

                <div class="lg_MK">
                    <p>Nhập mật khẩu</p>
                    <input asp-for="MatKhau" type="password" placeholder="Mật khẩu" >
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="lg_DN lg_DK">
                    <button type="submit">Thêm người dùng</button>
                </div>
                @if (TempData["ThongBao"] != null)
                {
                    <p> @TempData["ThongBao"]</p>
                }
            </div>

           
      
    </div>

</form>
</div>
