body {
}
/*form them ncc và thêm ngdung*/
.Form_NCC .ND_GT input[type="radio"] {
    background-color: chartreuse;
    width: 25px; /* Kích thước radio button */
    height: 25px; /* Kích thước radio button */
    margin: 0; /* Để điều chỉnh khoảng cách */
}

.Form_NCC input[type="radio"]:checked {
    background-color: #FF8A00; /* Màu nền khi checked */
    width: 27px;
    height: 27px;
}
.Form_NCC .ND_GT{
    width:400px;
}
.Form_NCC .ND_GT .ND_CheckGT {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Form_NCC .ND_NgaySinh input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.Form_NCC .Them_form {
    margin-top: 20px;
    /*        background-color: aqua;
*/ width: 100%;
    height: 600px;
    border: 1px solid #4285F4;
    outline: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.Form_NCC .Them_form .BLCT_Lo_input {
    display:flex;
    justify-content:space-around;
}
p {
    margin-bottom:0;
    margin-bottom:5px;
}
.Form_NCC p {
    margin-bottom: 0;
    margin-bottom: 5px;
}

.sanpham_form p {
    margin: 0;
    margin-bottom: 5px;
}

.sanpham_form input[type=text], input[type=password] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.sanpham_form .lg_DN button {
    width: 400px;
    padding: 10px;
    background-color: #E48700;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}


.sanpham_form button:hover {
    background-color: #E46B00;
}.Form_NCC button:hover {
    background-color: #E46B00;
}
.sanpham_form {
    width: 500px;
    height: 600px;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ADADAD;
    border-radius: 40px;
    padding: 50px;
    margin-left: 10%;
}

.Them_ND .BL_a{
    display:flex;
    justify-content:space-between;
    width:35%;
}
.Them_ND .BL_a button{
    width:200px;
}
.BLCT_form .Form_ChonLo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    border: 1px solid #4285F4;
    outline: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
    .BLCT_form .Form_ChonLo select {
        height: 40px;
        width: 37%;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
.BLCT_form .Form_ChonLo .BLCT_SL {
    height:50px;
    width:400px;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.BLCT_form .Form_ChonLo .BLCT_SL p{
    margin:0;
}

.BLCT_form .Form_ChonLo .BLCT_SL input {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}
.BLCT_form .Form_ChonLo .ThemLovaoBL button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.BLCT_form .flex-end {
    width: 100%;
    display: flex;
    justify-content: end;
}
.BLCT_form .lg_DN button {
    margin-top:30px;
    width: 400px;
    padding: 10px;
    background-color: #E48700;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}



.BLCT_form .lg_DN button:hover {
    background-color: #E46B00;
}


 
}
.container .Them_ND a:hover {
    background-color: #E46B00;
}.container .Them_ND button:hover {
    background-color: #E46B00;
}


.Thembl_form p {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
}
.Thembl_form p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.Thembl_form input[type=text], input[type=password] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}

.Thembl_form .lg_DN button {
    width: 100%;
    padding: 10px;
    background-color: #E48700;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}


.Thembl_form button:hover {
    background-color: #E46B00;
}
.Thembl_form {
    width: 500px;
    height: 700px;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ADADAD;
    border-radius: 40px;
    padding: 50px;
    margin-left: 10%;
}
    .Thembl_form .lg_DN {
        display: flex;
        justify-content: center;
        margin-top:30px;
    }
    .Thembl_form select {
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 40px;
    }

.Lo_html{
    margin-top:35px;
}
.popup > button {
  margin: 10px;
  padding: 5px 15px;
  float: left; /* Đặt nút về phía trái */
  background-color: #E48700;
  color: white;
  cursor: pointer;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 10px;
}

.popup > button:last-child {
  float: right; /* Đặt nút cuối cùng về phía phải */
}

.popup > button:hover {
  b