html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
/*  position:relative;*/
}
.container {
    width: 100%;
    height: 100%;
    position:relative;
}
/*html chung chung :V*/
.magrin_Input{
    margin-top:15px;
}
/* phần này là của đăng nhập (login) */
.lg_container {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, #ECBC76 50%, white 50%);
}

.lg_TuanVu p {
    margin-left: 20px;
    color: brown;
    font-weight: bold;
    font-size: 30px;
}

.lg_container .lg_Hinh1 img {
    width: 240px;
    height: 240px;
    transform: scaleX(-1);
    border-bottom:1px solid #000;
    
}

.lg_container .lg_Hinh2 img {
        width: 450px;
        height: 450px;
}

.lg_container .lg_body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg_form {
    width: 500px;
    height: 600px;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ADADAD;
    border-radius: 40px;
    padding: 50px;
    margin-left: 10%;
}
.Them_form {
    width: 500px;
    height: 800px;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ADADAD;
    border-radius: 40px;
    padding: 50px;
}
.BienLai_Form {
    margin:0 auto;
    width: 80%;
    height: 800px;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ADADAD;
    border-radius: 40px;
    padding: 50px;
}
    .Them_form p {
        color: black;
        font-size: 16px;
        font-weight: 400;
    }
.BienLai_Form p {
    color: black;
    font-size: 16px;
    font-weight: 400;
}

    .lg_form p {
        color: black;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
    }
/*.register {
    display: flex;
    justify-content:flex-end;
}
    .register p {
        color: #8D8D8D;
        font-size: 16px;
        font-weight: 400;
    }
    .register a {
        color: #B87514;
        font-size: 16px;
        font-weight: 400;
    }*/
.lg_register {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

    .lg_register p {
        margin: 0;
        margin-right: 10px;
    }

    .lg_register a {
        color: orangered;
        text-decoration: none;
    }

        .lg_register a:hover {
            text-decoration: underline;
            color: #E48700;
        }

h1 {
    color: #333;
    margin-bottom: 20px;
}

.lg_TK, .lg_MK {
    margin-bottom: 10px;
}

.lg_form p {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.lg_form input[type=text], input[type=password] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.Them_form input[type=text], input[type=password] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.BienLai_Form input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.BienLai_Form select {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.lg_form {

}
.lg_form select {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}

.lg_QMK {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

    .lg_QMK a {
        text-decoration: none;
        color: orangered;
    }

        .lg_QMK a:hover {
            text-decoration: underline;
            color: #E48700;
        }
.dk_HT_SDT .dk_HT input {
    width: 200px;
}.dk_HT_SDT .dk_SDT input {
    width: 200px;
}
.lg_form .lg_DN {
    display: flex;
    justify-content: center;
}
.Them_form .lg_DN {
    display: flex;
    justify-content: center;
}
.BienLai_Form .lg_DN {
    display: flex;
    justify-content: center;
}

    .lg_form .lg_DN button {
        width: 100%;
        padding: 10px;
        background-color: #E48700;
        color: white;
        cursor: pointer;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 40px;
    }


.lg_form button:hover {
    background-color: #E46B00;
}
.lg_TK input:focus, .lg_MK input:focus, .dk_HT input:focus, .dk_SDT input:focus {
    border-color: #E48700;
    outline: none;
}

.Them_form .lg_DN button {
    width: 400px;
    padding: 10px;
    background-color: #E48700;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
.BienLai_Form .lg_DN button {
    width: 400px;
    padding: 10px;
    background-color: #E48700;
    color: white;
    cursor: pointer;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}


.Them_form button:hover {
    background-color: blue;
}


/*phần đăng ký*/

.dk_HT_SDT{
    display:flex;
    justify-content:center;
}
/*.dk_SDT{
    padding-left:10px;
}
.dk_HT{
    padding-right:10px;
}*/
.lg_DK {
    padding-top: 25px;
}
/*phần thêm người dùng*/
/*.ND_body .ND_GT {
    margin-top: 10px;
}*/
    .ND_body .ND_GT input[type="radio"] {
        background-color:chartreuse;
        width: 25px; /* Kích thước radio button */
        height: 25px; /* Kích thước radio button */
        margin: 0; /* Để điều chỉnh khoảng cách */
    }

.ND_body input[type="radio"]:checked {
    background-color: #FF8A00; /* Màu nền khi checked */
    width: 27px;
    height: 27px;
}
.ND_body .ND_GT .ND_CheckGT {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ND_body .ND_NgaySinh input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 40px;
}
/*phần layout */
.lo_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
/*header{*/
/*    background-color:aqua;*/
    /*height:500px;
    width:200px;
    position:absolute;
    z-index:1;
    padding-left:10px;
}
    header .lg_TuanVu a {
        text-decoration: none;
    }
    header ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
header ul li {
    margin:5px;
}

header ul li a {
    display:flex;
    align-items:center;
    text-decoration:none;
}
    header .HD_Ul {
        margin-top:50px;
    }*/
    /*Phần người dùng*/
    /*Tìm kiếm*/
.ND_TimKiem_Ten {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
    .ND_TimKiem_Ten {
        display: flex;
        justify-content:end;
    }
        .ND_TK_TenND p {
            margin-right: 10px;
            font-size:17px;
        }
        .ND_TK_TenND i {
            font-size:30px;
        }
    .ND_TimKiem {
        width: 600px;
        height: 40px;
    }
.ND_TimKiem input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

.Them_ND{
    margin-top:50px;
    display:flex;
    justify-content:space-between;
}
    .Them_ND button {
        width: 400px;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: orange;
        color: white;
        cursor: pointer;
    }

.Tb-Container{
    margin-top:15px;
}

    .Tb-Container table {
        width: 100%;
        border-collapse: collapse;
    }
        .Tb-Container table tr:nth-child(2n+1) {
            background-color: #FFCC99;
        }
        .Tb-Container table tr:nth-child(2n) {
            background-color #FFFF66;
        }
        .Tb-Container table th {
            background-color: whitesmoke;
        }
    .Tb-Container table th,td{
        padding:10px;
        text-align:left;
        border:1px solid #ccc;

    }
        .Tb-Container table .ND_Table_Icon {
            display:flex;
            justify-content:space-around;
        }
        .Tb-Container table .ND_Table_Icon a {
            background:none;
            color:black;
        }
            /*Trang chủ nè*/
            .container .CT_TT {
            background-color: black;
            width: 100%;
            height: 130px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    .container .CT_TT .CT_sp{
        background-color:aqua;
        width:28%;
        height:120px;
        display:flex;
        align-items:center;
        justify-content:space-around;
    }
.CT_TT .CT_sp .CT_Icon {
    background-color:crimson;
    width: 30%;
    height: 80px;
}

.CT_TT .CT_sp .CT_Chu_So{
    background-color:burlywood;
    width:70%;
    height:80px;
}
.CT_sp .CT_Chu_So .CT_So {
    background-color: deeppink;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.CT_Chu_So .CT_So p {
    font-size: 20px;
    color: black;

}
.CT_sp .CT_Chu_So .CT_Chu {
    background-color: dimgray;
    height: 50%;
    width: 100%;
    color: #929292;
}

.container .CT_Canva {
    width:100%;
    height: 350px;
}
/*Biên lai*/
.BL_H1 {
    display:flex;
    justify-content:space-between;
}
.BL_h1_Ten {
    display:flex;
    justify-content:center;
}

.BienLai_Form .BL_ThemBL{
    margin-top:50px;
    display:flex;
    justify-content:end;
}
    .BienLai_Form .BL_ThemBL button {
        width: 400px;
        padding: 10px;
        background-color: #E48700;
        color: white;
        cursor: pointer;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 40px;
    }
.BL_H1{
    margin-top:10px;
}

.BienLai_Form .BL_TimSP {
    margin-top: 60px;
}

/*nav*/
header {
    position:absolute;
    width:260px;
}
nav {
    margin-top: 10px;
    position: sticky;
    height: 50vh;
    width: 90px;
    /* width: 280px; */
    overflow: hidden;
    transition: 1s;
    text-decoration: none;
}

    nav:hover {
        width: 260px;
        transition: 1s;
    }

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}

    .logo span {
        font-weight: bold;
        padding-left: 15px;
        font-size: 18px;
        text-transform: uppercase;
    }

nav ul li a {
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
    text-decoration: none;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;

}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

nav ul li a:hover {
    background: #eee;
    color: #E48700;
}

nav a:hover i {
    /*    color: #34AF6D;
*/ transition: 0.5s;
    color: #E48700;
}


.logout {
    position: absolute;
    bottom: 0;
}

.dcr_none {
    text-decoration: none;
}
/* xóa dấu chấm trước li*/
nav ul li {
    list-style: none;
}

/* biên lai chi tiết*/
.BLCT_BL {
    /*    background-color: red;*/
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #4285F4;
    outline: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

    .BLCT_BL .BLCT_p{
        width:100%;
/*        background-color:darkgreen;
*/        margin-top:10px;
        width:40%;
    }

.BLCT_Lo {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    /*        background-color: aqua;
*/ width: 100%;
    height: 200px;
    align-items: center;
    border: 1px solid #4285F4;
    outline: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
        .BLCT_Lo .BLCT_Lo_input{
            width:30%;
/*            background-color:brown;
*/
        }
        .BLCT_Lo .BLCT_Them_Lo {
            width: 10%;
            height: 100%;
            display: flex;
/*            background-color: chocolate;
*/          align-items: center;
        }
            .BLCT_Lo .BLCT_Them_Lo button {
                font-size: 16px;
                color: white;
                background-color: #E48700;
                width: 80%;
                height: 100px;
                padding: 10px;
                border: 1px solid #ccc;
                outline: none;
                border-radius: 10px;
            }
    .BLCT_Lo select {
        width: 400px;
        padding: 10px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
.BLCT_Table {
    background-color:coral;
    width:100%;
}

.BLCT_Lo .ND_NgaySinh input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.BLCT_Lo .BLCT_Ip input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

